@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    justify-content: center;
    background-color: bisque;
} 
a{
    text-decoration: none;
    color: palevioletred;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: aquamarine;
    position: static;
    box-sizing: border-box;
}
.logo{
    font-size: 3em;
    font-weight: bold;
}
ul li{
    display: inline-block;
    flex-direction: row;
    margin: 0 30px;
    list-style: none;
}

.home{
    margin-left: 8%;
    margin-top: 10%;
}
h1{
    font-size: 45px;
    color: brown;
    margin-bottom: 15px;
}
p{
    color: brown;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.home a{
    text-decoration: none;
    background: aquamarine;
    font-weight: bold;
    padding: 10px 18px;
    color: brown;
    display: inline-block;
    margin: 3Opx 0;
    border-radius: 30px;
}
.pic{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    
}
img{
    height: 100%;
    position: absolute;
    left: 100%;
    bottom: 0;
    border-radius: 100%;
}
.books{
    background-color: bisque;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: brown;
    text-align: center;
    font-size: 45px;
    margin: 20px auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card{
    height: 300px;
    width: 300px;
    background: aquamarine;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    padding: 20px 35px;
    text-align: center;
}
h4{
    color: palevioletred;
    font-size: 30px;
    margin-bottom: 15px;
}
.words p{
    color: black;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}
.words a{
    text-decoration: none;
    background: brown;
    font-weight: bold;
    padding: 10px 18px;
    color: bisque;
    display: inline-block;
    margin: 3Opx 0;
    border-radius: 30px;
}